@using Microsoft.AspNetCore.Identity




<div class="container-xl">
    
    <h1 style="color:blue" class="text-center">Welcome @User.Identity.Name</h1>
    <div class="row">
        <div class="col-md-6">
            <button class="btn">
                <a style="text-decoration:none" asp-action="StudentsofSaquib" asp-controller="Teacher">Check Your Students</a>
            </button>
        </div>
        

    </div>
</div>