@{
    ViewData["Title"] = "Home Page";
}

<span>CurrentUser:@User.Identity.Name</span>

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <a>
        <ol>
            <span>This is Admin</span>
            <li>Email:[admin1998@gmail.com]. [Password:-Test@123]</li>
        </ol>
    </a>

    <a>
        <span>Users</span>
        <ol>
            <li>Email:[saquib@gmail.com]. Password[Test@123]</li>
            <li>Email:[uzair@gmail.com] .Password[Test@123]</li>
            <li>Email:[umer@gmail.com]. Password[Test@123]</li>
        </ol>
    </a>
</div>



